:root{
    --c1 :rgb(98, 255, 0);
    --c2 :rgb(55, 0, 255);
    --c3 :blue;
    --c4 :rgb(255, 0, 183);
    --c5 :rgb(242, 255, 0);
    --c6 :rgb(106, 0, 255);
    --bg:rgb(255, 136, 0);
}

*{
    margin: 0;
    padding: 0;
}

.col-1{
    background-color:var(--c1);
}
.col-2{
    background-color:var(--c2);
}
.col-3{
    background-color:var(--c3);
}
.col-4{
    background-color:var(--c4);
}
.col-5{
    background-color:var(--c5);
}
.col-6{
    background-color:var(--c6);
}

.main{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: repeat(6,200px);
    grid-template-columns: 100px 200px 300px 400px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    justify-content: space-between;
    
    gap: 10px;
    /* margin-top: 20px; */
    grid-template-rows: 300px 200px;
    background-color: var(--bg);
}